table {
    border-collapse: collapse;
}

th, td:not(:last-child) {
    padding: 5px;
}

th {
    border: 2px solid black;
}

td:not(:last-child) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

tr:last-child td:not(:last-child) {
    border-bottom: 2px solid black;
}

#new-book-form {
    border: 2px solid black;
    padding: 10px;
}